/*div{
    font-size: 12px;
    color: #81a61a;
}

h1{
    font-size: 12 px;
    color: #81a61a
}

h2{
    font-size: 12 px;
    color: #81a61a;
}*/

h1, div, h2{
    font-size: 12 xp;
    color: #81a61a;
}